@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.normal-shadow {
  box-shadow: 2px 2px 6px #eaeaea !important;
}

/* 修复一些 Ant Design 部分 CSS 样式冲突 */
.search-input .ant-input-group-addon {
  background-color: #1677ff !important;
}

/* 根目录样式 */
.global-root-page .group-box-title {
  color: #888;
  margin-top: 10px;
  line-height: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  font-weight: 600;
}

/* 通用样式 */
table.common-table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

table.common-table tbody td {
  padding: 0.5rem 0.625rem 0.625rem;
}

a {
  color: black !important;
}
